.progress-wrap {
  margin: 0 auto;
  min-height: 250px; }

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #2f3439;
  background-color: tomato; }

.progress-bar {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 5rem;
  background-color: unset; }

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  color: black;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #2f3439;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 40px;
  text-align: center;
  line-height: 120px;
  font-size: 32px; }

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(90deg, snow 50%, #2f3439 50%, #2f3439); }

.progress-1 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(93.6deg, #fff8f8 50%, #2f3439 50%, #2f3439); }

.progress-2 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(97.2deg, #fff5f5 50%, #2f3439 50%, #2f3439); }

.progress-3 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(100.8deg, #fff3f3 50%, #2f3439 50%, #2f3439); }

.progress-4 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(104.4deg, #fff0f0 50%, #2f3439 50%, #2f3439); }

.progress-5 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(108deg, #ffeeee 50%, #2f3439 50%, #2f3439); }

.progress-6 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(111.6deg, #ffebeb 50%, #2f3439 50%, #2f3439); }

.progress-7 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(115.2deg, #ffe9e9 50%, #2f3439 50%, #2f3439); }

.progress-8 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(118.8deg, #ffe6e6 50%, #2f3439 50%, #2f3439); }

.progress-9 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(122.4deg, #ffe4e4 50%, #2f3439 50%, #2f3439); }

.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(126deg, #ffe1e1 50%, #2f3439 50%, #2f3439); }

.progress-11 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(129.6deg, #ffdfdf 50%, #2f3439 50%, #2f3439); }

.progress-12 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(133.2deg, #ffdcdc 50%, #2f3439 50%, #2f3439); }

.progress-13 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(136.8deg, #ffdada 50%, #2f3439 50%, #2f3439); }

.progress-14 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(140.4deg, #ffd7d7 50%, #2f3439 50%, #2f3439); }

.progress-15 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(144deg, #ffd5d5 50%, #2f3439 50%, #2f3439); }

.progress-16 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(147.6deg, #ffd2d2 50%, #2f3439 50%, #2f3439); }

.progress-17 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(151.2deg, #ffd0d0 50%, #2f3439 50%, #2f3439); }

.progress-18 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(154.8deg, #ffcdcd 50%, #2f3439 50%, #2f3439); }

.progress-19 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(158.4deg, #ffcbcb 50%, #2f3439 50%, #2f3439); }

.progress-20 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(162deg, #ffc8c8 50%, #2f3439 50%, #2f3439); }

.progress-21 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(165.6deg, #ffc6c6 50%, #2f3439 50%, #2f3439); }

.progress-22 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(169.2deg, #ffc3c3 50%, #2f3439 50%, #2f3439); }

.progress-23 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(172.8deg, #ffc1c1 50%, #2f3439 50%, #2f3439); }

.progress-24 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(176.4deg, #ffbebe 50%, #2f3439 50%, #2f3439); }

.progress-25 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(180deg, #ffbcbc 50%, #2f3439 50%, #2f3439); }

.progress-26 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(183.6deg, #ffb9b9 50%, #2f3439 50%, #2f3439); }

.progress-27 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(187.2deg, #ffb7b7 50%, #2f3439 50%, #2f3439); }

.progress-28 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(190.8deg, #ffb4b4 50%, #2f3439 50%, #2f3439); }

.progress-29 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(194.4deg, #ffb2b2 50%, #2f3439 50%, #2f3439); }

.progress-30 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(198deg, #ffafaf 50%, #2f3439 50%, #2f3439); }

.progress-31 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(201.6deg, #ffadad 50%, #2f3439 50%, #2f3439); }

.progress-32 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(205.2deg, #ffaaaa 50%, #2f3439 50%, #2f3439); }

.progress-33 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(208.8deg, #ffa8a8 50%, #2f3439 50%, #2f3439); }

.progress-34 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(212.4deg, #ffa5a5 50%, #2f3439 50%, #2f3439); }

.progress-35 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(216deg, #ffa3a3 50%, #2f3439 50%, #2f3439); }

.progress-36 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(219.6deg, #ffa0a0 50%, #2f3439 50%, #2f3439); }

.progress-37 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(223.2deg, #ff9e9e 50%, #2f3439 50%, #2f3439); }

.progress-38 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(226.8deg, #ff9b9b 50%, #2f3439 50%, #2f3439); }

.progress-39 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(230.4deg, #ff9999 50%, #2f3439 50%, #2f3439); }

.progress-40 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(234deg, #ff9696 50%, #2f3439 50%, #2f3439); }

.progress-41 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ff9494 50%, #2f3439 50%, #2f3439); }

.progress-42 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(241.2deg, #ff9191 50%, #2f3439 50%, #2f3439); }

.progress-43 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(244.8deg, #ff8f8f 50%, #2f3439 50%, #2f3439); }

.progress-44 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(248.4deg, #ff8c8c 50%, #2f3439 50%, #2f3439); }

.progress-45 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(252deg, #ff8a8a 50%, #2f3439 50%, #2f3439); }

.progress-46 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(255.6deg, #ff8787 50%, #2f3439 50%, #2f3439); }

.progress-47 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(259.2deg, #ff8585 50%, #2f3439 50%, #2f3439); }

.progress-48 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(262.8deg, #ff8282 50%, #2f3439 50%, #2f3439); }

.progress-49 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(266.4deg, #ff8080 50%, #2f3439 50%, #2f3439); }

.progress-50 {
  background-image: linear-gradient(-90deg, #ff7d7d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7d7d 50%, #2f3439 50%, #2f3439); }

.progress-51 {
  background-image: linear-gradient(-86.4deg, #ff7b7b 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7b7b 50%, #2f3439 50%, #2f3439); }

.progress-52 {
  background-image: linear-gradient(-82.8deg, #ff7878 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7878 50%, #2f3439 50%, #2f3439); }

.progress-53 {
  background-image: linear-gradient(-79.2deg, #ff7676 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7676 50%, #2f3439 50%, #2f3439); }

.progress-54 {
  background-image: linear-gradient(-75.6deg, #ff7373 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7373 50%, #2f3439 50%, #2f3439); }

.progress-55 {
  background-image: linear-gradient(-72deg, #ff7171 50%, transparent 50%, transparent), linear-gradient(270deg, #ff7171 50%, #2f3439 50%, #2f3439); }

.progress-56 {
  background-image: linear-gradient(-68.4deg, #ff6e6e 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6e6e 50%, #2f3439 50%, #2f3439); }

.progress-57 {
  background-image: linear-gradient(-64.8deg, #ff6c6c 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6c6c 50%, #2f3439 50%, #2f3439); }

.progress-58 {
  background-image: linear-gradient(-61.2deg, #ff6969 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6969 50%, #2f3439 50%, #2f3439); }

.progress-59 {
  background-image: linear-gradient(-57.6deg, #ff6767 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6767 50%, #2f3439 50%, #2f3439); }

.progress-60 {
  background-image: linear-gradient(-54deg, #ff6464 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6464 50%, #2f3439 50%, #2f3439); }

.progress-61 {
  background-image: linear-gradient(-50.4deg, #ff6262 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6262 50%, #2f3439 50%, #2f3439); }

.progress-62 {
  background-image: linear-gradient(-46.8deg, #ff5f5f 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f5f 50%, #2f3439 50%, #2f3439); }

.progress-63 {
  background-image: linear-gradient(-43.2deg, #ff5d5d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5d5d 50%, #2f3439 50%, #2f3439); }

.progress-64 {
  background-image: linear-gradient(-39.6deg, #ff5a5a 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5a5a 50%, #2f3439 50%, #2f3439); }

.progress-65 {
  background-image: linear-gradient(-36deg, #ff5858 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5858 50%, #2f3439 50%, #2f3439); }

.progress-66 {
  background-image: linear-gradient(-32.4deg, #ff5555 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5555 50%, #2f3439 50%, #2f3439); }

.progress-67 {
  background-image: linear-gradient(-28.8deg, #ff5353 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5353 50%, #2f3439 50%, #2f3439); }

.progress-68 {
  background-image: linear-gradient(-25.2deg, #ff5050 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5050 50%, #2f3439 50%, #2f3439); }

.progress-69 {
  background-image: linear-gradient(-21.6deg, #ff4e4e 50%, transparent 50%, transparent), linear-gradient(270deg, #ff4e4e 50%, #2f3439 50%, #2f3439); }

.progress-70 {
  background-image: linear-gradient(-18deg, #ff4b4b 50%, transparent 50%, transparent), linear-gradient(270deg, #ff4b4b 50%, #2f3439 50%, #2f3439); }

.progress-71 {
  background-image: linear-gradient(-14.4deg, #ff4949 50%, transparent 50%, transparent), linear-gradient(270deg, #ff4949 50%, #2f3439 50%, #2f3439); }

.progress-72 {
  background-image: linear-gradient(-10.8deg, #ff4646 50%, transparent 50%, transparent), linear-gradient(270deg, #ff4646 50%, #2f3439 50%, #2f3439); }

.progress-73 {
  background-image: linear-gradient(-7.2deg, #ff4444 50%, transparent 50%, transparent), linear-gradient(270deg, #ff4444 50%, #2f3439 50%, #2f3439); }

.progress-74 {
  background-image: linear-gradient(-3.6deg, #ff4141 50%, transparent 50%, transparent), linear-gradient(270deg, #ff4141 50%, #2f3439 50%, #2f3439); }

.progress-75 {
  background-image: linear-gradient(0deg, #ff3f3f 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3f3f 50%, #2f3439 50%, #2f3439); }

.progress-76 {
  background-image: linear-gradient(3.6deg, #ff3c3c 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3c3c 50%, #2f3439 50%, #2f3439); }

.progress-77 {
  background-image: linear-gradient(7.2deg, #ff3a3a 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3a3a 50%, #2f3439 50%, #2f3439); }

.progress-78 {
  background-image: linear-gradient(10.8deg, #ff3737 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3737 50%, #2f3439 50%, #2f3439); }

.progress-79 {
  background-image: linear-gradient(14.4deg, #ff3535 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3535 50%, #2f3439 50%, #2f3439); }

.progress-80 {
  background-image: linear-gradient(18deg, #ff3232 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3232 50%, #2f3439 50%, #2f3439); }

.progress-81 {
  background-image: linear-gradient(21.6deg, #ff3030 50%, transparent 50%, transparent), linear-gradient(270deg, #ff3030 50%, #2f3439 50%, #2f3439); }

.progress-82 {
  background-image: linear-gradient(25.2deg, #ff2d2d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff2d2d 50%, #2f3439 50%, #2f3439); }

.progress-83 {
  background-image: linear-gradient(28.8deg, #ff2b2b 50%, transparent 50%, transparent), linear-gradient(270deg, #ff2b2b 50%, #2f3439 50%, #2f3439); }

.progress-84 {
  background-image: linear-gradient(32.4deg, #ff2828 50%, transparent 50%, transparent), linear-gradient(270deg, #ff2828 50%, #2f3439 50%, #2f3439); }

.progress-85 {
  background-image: linear-gradient(36deg, #ff2626 50%, transparent 50%, transparent), linear-gradient(270deg, #ff2626 50%, #2f3439 50%, #2f3439); }

.progress-86 {
  background-image: linear-gradient(39.6deg, #ff2323 50%, transparent 50%, transparent), linear-gradient(270deg, #ff2323 50%, #2f3439 50%, #2f3439); }

.progress-87 {
  background-image: linear-gradient(43.2deg, #ff2121 50%, transparent 50%, transparent), linear-gradient(270deg, #ff2121 50%, #2f3439 50%, #2f3439); }

.progress-88 {
  background-image: linear-gradient(46.8deg, #ff1e1e 50%, transparent 50%, transparent), linear-gradient(270deg, #ff1e1e 50%, #2f3439 50%, #2f3439); }

.progress-89 {
  background-image: linear-gradient(50.4deg, #ff1c1c 50%, transparent 50%, transparent), linear-gradient(270deg, #ff1c1c 50%, #2f3439 50%, #2f3439); }

.progress-90 {
  background-image: linear-gradient(54deg, #ff1919 50%, transparent 50%, transparent), linear-gradient(270deg, #ff1919 50%, #2f3439 50%, #2f3439); }

.progress-91 {
  background-image: linear-gradient(57.6deg, #ff1717 50%, transparent 50%, transparent), linear-gradient(270deg, #ff1717 50%, #2f3439 50%, #2f3439); }

.progress-92 {
  background-image: linear-gradient(61.2deg, #ff1414 50%, transparent 50%, transparent), linear-gradient(270deg, #ff1414 50%, #2f3439 50%, #2f3439); }

.progress-93 {
  background-image: linear-gradient(64.8deg, #ff1212 50%, transparent 50%, transparent), linear-gradient(270deg, #ff1212 50%, #2f3439 50%, #2f3439); }

.progress-94 {
  background-image: linear-gradient(68.4deg, #ff0f0f 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0f0f 50%, #2f3439 50%, #2f3439); }

.progress-95 {
  background-image: linear-gradient(72deg, #ff0d0d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0d0d 50%, #2f3439 50%, #2f3439); }

.progress-96 {
  background-image: linear-gradient(75.6deg, #ff0a0a 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0a0a 50%, #2f3439 50%, #2f3439); }

.progress-97 {
  background-image: linear-gradient(79.2deg, #ff0808 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0808 50%, #2f3439 50%, #2f3439); }

.progress-98 {
  background-image: linear-gradient(82.8deg, #ff0505 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0505 50%, #2f3439 50%, #2f3439); }

.progress-99 {
  background-image: linear-gradient(86.4deg, #ff0303 50%, transparent 50%, transparent), linear-gradient(270deg, #ff0303 50%, #2f3439 50%, #2f3439); }

.progress-100 {
  background-image: linear-gradient(90deg, red 50%, transparent 50%, transparent), linear-gradient(270deg, red 50%, #2f3439 50%, #2f3439); }

/*# sourceMappingURL=progressbar.css.map */