[Unit]
Description=EC2 Deploy uWSGI service
After=syslog.target

[Service]
ExecStart=/root/.pyenv/versions/floweryroad/bin/uwsgi -i /app/floweryroad-backend/floweryroad/settings/.server/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target